@{
    Layout = null;
    double totalCount = 0;
    foreach (var item in Model)
    {
        totalCount += item.Price * item.Count;
    }

}

@model List<WishlistItemViewModel>




@foreach (var item in Model)
{
    <div class="mini-cart-item clearfix">
        <div class="mini-cart-img">
            <a asp-controller="product" asp-action="detail" asp-route-id="@item.ProductId"><img src="~/uploads/product/@item.Image" alt="Image"></a>
            <span class="mini-cart-item-delete delete-wishlistitem" data-id="@item.ProductId"><i class="icon-cancel"></i></span>
        </div>
        <div class="mini-cart-info">
            <h6><a href="#">@item.Name</a></h6>
            <span class="mini-cart-quantity">@item.Count x $@item.Price</span>
        </div>
    </div>
}